<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/login.css"/>
    <link rel="icon" type="image/x-icon" href="images/logo1.ico">
    <title>Connexion</title>
</head>
<body>
    <div class="loginbox">
        <img src="images/logo1.ico" class="avatar">
        <h1>Connexion</h1>
        <form>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
            <a href="#" class="f">Forgot your password?</a><br>
            <a href="#">Create a new account</a><br>
        </form>
    </div>
</body>
</html>