body{
	margin: 0px;
    padding: 0px;
    color: #181818;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    #background-image: url(../images/backimage.png);
    background-position: center;
 }

.container{
    margin: auto;
    margin-top: 5px;
    padding: 0px;
    border-style: dotted;
}
.container div {
    float: left;

}
.container h1 {
    width: 100%;
    text-align: center;
    height: 15px;
}

.container p {
    text-align: center;
    width: 100%;
    height: 100%;
}
.new-container {
    margin: auto;
    margin-top: 10px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-style: dotted;
    display: inline;
    position: relative;
    display: grid;
    float: left;
}

.new-container .btn1 {
    width: 100px;
    height: 50px;
    border-radius: 20%;
    margin-top: 100px;

}

.new-container .btn1:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.new-section .container-section {
    margin: auto;
    margin-top: 10px;
    border-style: dotted;

}