html, body {
    height: 100%;
}
body{
	margin: 0px;
    padding: 0px;
    color: #181818;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    #background-image: url(../images/backimage.png);
    background-position: center;
 }

.container{
    margin: auto;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px;
    border-style: dotted;
}
.container h1 {
    width: 100%;
    text-align: center;
    height: 15%;
}

.container p {
    text-align: center;
    width: 100%;
    height: 100%;
}
.new-container {
    height: 300px;
    background-color: #fff;
    border-style: dotted;
    display: inline;
    position: relative;
    visibility: visible;
}

.new-container .btn1 {
    width: 100px;
    height: 50px;
    border-radius: 20%;

}
.new-container .btn1:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
