html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

/* specify the value of the variable */
:root {    --example-color: #fff;}
/* We use a variable in the code that can be applied to an unlimited number of selectors. The value changes in one place and is applied to all selectors that use this variable. */
.example-selector {
    color: var(--example-color);
}
.example-selector-2 {
    color: var(--example-color);
}

