<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelPacker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/images/logo2.png" style="border-radius:50%">
    <link rel="stylesheet" href="../static/styles/landingpage.css"> <style>
      :root {
          --body-bg: #fff;
          --base-text-color: #55606e;
          --btn-color: #fff;
          --green: #83c129;
          --dark-green: #518719;
          --blue: #068fd5;
          --dark-blue: #046b9f;
          --light-text-color: #fff;
          --nav-link-color: #fff;
          --soc-link-color: #fff;
          --gray-100: #d9dbdf;
          --gray-200: #8e959c;
      }
    </style>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo"><img src="../static/images/logo2.png" height="55" width="65" alt=""></div>
            <div class="slogan">PixelPacker</div>
            <nav>
                <ul class="nav">
                    <li><a href="about.html"><i class="icon-user"></i> About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="hero">
        <img class="bg-image" src="../static/images/logo02.jpg" alt="Logo">
        <div class="container">
            <h1>PixelPacker</h1>
            <p><strong>Intelligent Image Compression Algorithm</strong></p>
            <div class="para">
                <p>
                    Image compression is a process that makes image files smaller.
                    Image compression most often works either by removing bytes of information from the image,
                    or by using an image compression algorithm to rewrite the image file in a way that takes up less storage space.
                    Compressing an image is an effective way to ensure that the image loads quickly when a user interacts with a website
                    or application.
                </p>
            </div>
            <div class="registerbox">
                <h1>SIGN UP</h1>
                <form>
                    <label>First Name<strong class="str-1">*</strong></label>
                    <input type="text" class="first-name" placeholder="Enter your first name" required maxlength="60">
                    <label>Last Name<strong class="str-1">*</strong></label>
                    <input type="text" class="last-name" placeholder="Enter your last name" maxlength="60">
                    <label>E-mail Address<strong class="str-1">*</strong></label>
                    <input autofocus name="" placeholder="john@gmail.com" required type="text" value="">
                    <label>Password<strong class="str-1">*</strong></label>
                    <input name="" placeholder="Enter Password" required type="password" value="">
                    <div>
                        <input type="submit" name="" value="Submit">
                    </div>
                </form>
            </div>
        </div>

    </section>
    <main class="main">
        <div class="container">
            <p>
                Hi there, my name's Ibrahim.
                I have a background in computing and telecommunications from my university days.
                Since 2022,
                I have been passionately pursuing a career transition from technical roles to software engineering.

                To facilitate this transition, I immersed myself in learning programming.
                Over the past year, I have been dedicated to enhancing my skills and knowledge in this field.
                This journey has been both challenging and rewarding,
                allowing me to grow and adapt to the rapidly evolving tech landscape.

                Currently, I am in the final stretch of a one-year intensive software engineering training program.
                In just three months, I will complete this program,
                where I have focused on full-stack development with a specialization in backend development.
                This training has equipped me with a robust understanding of both front-end and back-end technologies,
                preparing me to tackle complex software projects.

                Beyond technical skills, I am a critical thinker and problem solver.
                I approach challenges with a growth mindset, constantly seeking opportunities to learn and improve.
                This mindset has been instrumental in my development as a software engineer,
                enabling me to adapt to new technologies and methodologies swiftly.
            </p>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <nav class="footer-nav">
                <div class="foot-logo">
                    <img src="../static/images/logo2.png" style="border-radius:30%" width="75px">
                </div>
                <div>
                     <ul class="soc">
                         <li><a href="https://x.com/msaniibrahim_"><i class="icon-x1"></i></a></li>
                         <li><a href="https://linkedin.com/in/maman-sani-ibrahim"><i class="icon-linkedin"></i></a></li>
                         <li><a href="https://github.com/Ibrahim227"><i class="icon-github"></i></a></li>
                     </ul>
                     <div class="copyright">
                        <p>© 2024 PixelPacker<br>
                            <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> | <a href="#">Contact Us</a>
                        </p>
                     </div>
                </div>
            </nav>
        </div>
    </footer>
</body>
</html>